<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Transformasi Digital untuk UMKM: Tingkatkan Potensi Bisnis Anda Sekarang!</h2>
                <hr class="light">
                <p class="text-faded">Di era digital yang serba cepat ini, digitalisasi bukan lagi pilihan, melainkan kebutuhan. UMKM yang ingin tetap kompetitif dan berkembang harus beradaptasi dengan teknologi digital.</p>
                <a href="https://wa.me/6285601751281" class="btn btn-default btn-xl">Hubungi Kami!</a>
            </div>
        </div>
    </div>
</section>
